<!DOCTYPE html>
<html>
<head>
    <title>CMDS Search Engine</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{{ url_for('static', filename='Coventry University-01.svg') }}" alt="Coventry University Logo">
        </div>
        <h1 style="text-align: center; color: #4266aa">CMDS Search Engine</h1>
        <form class="search-form" action="/search" method="get">
            <input type="text" name="query" placeholder="Enter search query">
            <input type="submit" value="Search">
        </form>
    </div>
</body>
</html>
